
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');

$body-font : 'Roboto', sans-serif ;
$background-image : url('../images/bg.gif');
$background-color: #fff;

$header-image: url('../images/logo.png');
$header-color: #E65C43;
$header-h3-color:#666;

$content-background-color:#F25C43;

$greybar-background-color:#F5F6F6;
$footer-background-color:#30353D;
$social-media-div: url('../images/social-media.png');

$p:0px;
$i:1;






